binds {
    // Applications
    Ctrl+Space { spawn "fuzzel"; }

    // Niri core
    Mod+Q repeat=false { close-window; }
    Mod+C { center-column; }
    Mod+Tab repeat=false { toggle-overview; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Ctrl+Alt+Shift+E { quit; }

    // Tabbing & stacking
    Mod+W { toggle-column-tabbed-display; }
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Sizing
    Mod+F { maximize-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    // Focus
    Mod+H { focus-column-left; }
    Mod+A { focus-column-left; }
    Mod+I { focus-column-right; }
    Mod+S { focus-column-right; }
    Mod+E { focus-window-up; }
    Mod+N { focus-window-down; }

    // Focus workspace
    Super+U { focus-workspace-up; }
    Super+L { focus-workspace-down; }

    // Focus monitor
    Mod+Ctrl+E { focus-monitor-up; }
    Mod+Ctrl+N { focus-monitor-down; }

    // Move
    Mod+Shift+H { move-column-left; }
    Mod+Shift+I { move-column-right; }
    Mod+Shift+E { move-window-up; }
    Mod+Shift+N { move-window-down; }

    // Move workspace
    Super+Shift+U { move-column-to-workspace-up; }
    Super+Shift+L { move-column-to-workspace-down; }

    // Move monitor
    Mod+Ctrl+Shift+E { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+N { move-column-to-monitor-down; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // Mouse bindings
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollUp cooldown-ms=50 { focus-column-left; }
    Mod+WheelScrollDown cooldown-ms=50 { focus-column-right; }

    // Floating
    Mod+Shift+T { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Media
    XF86AudioPlay allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }

    // Screenshots
    Mod+Shift+S { screenshot; }
    Mod+Ctrl+Shift+S { screenshot-window; }

    // Noctalia
    Mod+Comma hotkey-overlay-title="Settings" { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    // Mod+Ctrl+N hotkey-overlay-title="Notification Center" { spawn-sh "qs -c noctalia-shell ipc call notifications toggleHistory"; }
    Mod+P { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
}
