// https://niri-wm.github.io/niri/Configuration:-Introduction
// https://niri-wm.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            // For example:
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }
    }

    mouse {
        natural-scroll
        // accel-speed 1
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        off
    }

    touchpad {
        off
    }

    // Wont focus a window if it will result in the scrolling more than the set amount
    focus-follows-mouse max-scroll-amount="90%"
    workspace-auto-back-and-forth
}

// https://niri-wm.github.io/niri/Configuration:-Outputs
output "DP-1" {
    mode "2560x1440"
    transform "180"
    position x=0 y=-1440

    hot-corners {
	off
    }
}

output "DP-2" {
    mode "2560x1440"
    variable-refresh-rate
    focus-at-startup
    position x=0 y=0

    hot-corners {
	off
    }
}

// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    gaps 8

    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
	proportion 0.66667
        proportion 0.75
    }

    preset-window-heights {
        proportion 0.5
	proportion 1.0
    }

    default-column-width {
        proportion 0.66667
    }

    focus-ring {
        on
        width 2
        active-color "#4e70c2"
        urgent-color "#e55561"
    }

    border {
        off
    }

    shadow {
    	off
    }
}

spawn-at-startup "qs" "-c" "noctalia-shell"

environment {
  XDG_CURRENT_DESKTOP "niri"
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/pictures/screenshots/screenshot-%Y-%m-%d %H-%M-%S.png"

// https://niri-wm.github.io/niri/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

debug {
    honor-xdg-activation-with-invalid-serial
}

include "binds.kdl"
