// https://niri-wm.github.io/niri/Configuration:-Introduction
// https://niri-wm.github.io/niri/Configuration:-Input
input {
    trackball {
        natural-scroll
        accel-speed 1
    }

    touchpad {
        natural-scroll
    }

    // Wont focus a window if it will result in the scrolling more than the set amount
    focus-follows-mouse max-scroll-amount="90%"
}

// https://niri-wm.github.io/niri/Configuration:-Outputs
output "DP-1" {
    mode "2560x1440"
    transform "180"
    position x=0 y=-1440

    hot-corners {
        off
    }

    layout {
        preset-column-widths {
            proportion 0.5
            proportion 1.0
        }

        default-column-width {
            proportion 1.0
        }
    }
}

output "DP-2" {
    mode "2560x1440@143.973"
    focus-at-startup
    position x=0 y=0

    hot-corners {
        off
    }
}

// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    gaps 8

    center-focused-column "never"
    always-center-single-column
    background-color "transparent"

    preset-column-widths {
        proportion 0.5
        proportion 0.75
    }

    default-column-width {
        proportion 0.75
    }

    focus-ring {
        on
        width 2
        active-color "#8aadf4"
        urgent-color "#ee99a0"
    }

    tab-indicator {
        place-within-column
        position "right"
        gap -12
    }

    border {
        off
    }

    shadow {
        off
    }
}

spawn-at-startup "qs" "-c" "noctalia-shell"

cursor {
    xcursor-theme "catppuccin-macchiato-dark-cursors"
    xcursor-size 32

    hide-when-typing
    hide-after-inactive-ms 5000
}

overview {
    workspace-shadow {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/pictures/screenshots/screenshot-%Y-%m-%d %H-%M-%S.png"

// https://niri-wm.github.io/niri/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

window-rule {
    match app-id="org.gnome.NautilusPreviewer"
    match app-id="app.zen_browser.zen" title="Picture-in-Picture"

    open-floating true
}

window-rule {
    match app-id="steam_app_default" title="World of Warcraft"

    open-fullscreen true
    open-focused true
}

window-rule {
    match app-id="lxqt-policykit-agent"

    open-focused true
    open-floating true
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

recent-windows {
    open-delay-ms 0
    highlight {
        corner-radius 8
    }
}

include "binds.kdl"
