[Unit]
Description=LXQt Polkit Authentication Agent
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/libexec/lxqt-policykit-agent
Restart=on-failure

[Install]
WantedBy=graphical-session.target
